@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Sans'), local('DroidSans'), url('/test/input/fonts/droid-sans.woff') format('woff');
}

.first {
  background-image: url(/test/input/images/ghost.png);
}

.first {
  background-image: url(/strip/images/ghost.png);
}

.second {
  background-image: url(/test/input/images/pumpkin.png);
}

.third {
  background-image: url(/test/input/images/pumpkin.png);
}
